<div class="form-group">
  <label for="passwort" class="col-sm-3 control-label">{tmpl_var name='password_txt'}</label>
  <div class="col-sm-9">
    <div class="input-group">
      <input type="password" name="passwort" id="passwort" value="{tmpl_var name='passwort'}" class="form-control" autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('passwort','repeat_password');" />
      <span class="input-group-btn">
      <button class="btn btn-default" type="button" onclick="generatePassword('passwort','repeat_password');">{tmpl_var name='generate_password_txt'}</button>
      </span>
    </div>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label">{tmpl_var name='password_strength_txt'}</label>
  <div class="col-sm-9 checkbox">
    <div id="passBar"></div>
    <span id="passText">&nbsp;</span>
  </div>
</div>
<div class="form-group">
  <label for="repeat_password" class="col-sm-3 control-label">{tmpl_var name='repeat_password_txt'}</label>
  <div class="col-sm-9"><input type="password" name="repeat_password" id="repeat_password" value="" class="form-control" autocomplete="off"  onkeyup="checkPassMatch('passwort','repeat_password');" /></div>
</div>
<div class="form-group">
  <div class="col-sm-offset-3 col-sm-9">
    <div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
    <div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
  </div>
</div>
<div class="form-group">
  <label for="2fa" class="col-sm-3 control-label">{tmpl_var name='otp_auth_txt'}</label>
  <div class="col-sm-9">
    <select name="otp_type" id="otp_type" class="form-control" OnChange="updateOtpPage();">
      {tmpl_var name='otp_type'}
    </select>
	<button class="btn btn-default formbutton-success" type="button" id="reset_totp_button" OnClick="resetTotpSecret()" style="display: none;">Reset TOTP secret</button>
	<div id="totp-form" style="display: none;">
	  <input type="hidden" id="totp_secret" name="totp_secret" value="{tmpl_var name='totp_secret'}">
	  <div id="qr_placeHolder"></div>
	  <div id="url_placeHolder"></div>
	  <label for="totp_verification_code">Load the QR code in an authenticator app and enter a verification code to Save it: </label>
      <input type="text" name="totp_verification_code" id="totp_verification_code" class="form-control" style="width: 150px;" autocomplete="off" placeholder="000000"/>
    </div>
  </div>
</div>
<div class="form-group">
  <label for="language" class="col-sm-3 control-label">{tmpl_var name='language_txt'}</label>
  <div class="col-sm-9"><select name="language" id="language" class="form-control flags">
    {tmpl_var name='language'}
    </select>
  </div>
</div>
<!-- TODO: If user theme change is activated -->
<div class="form-group">
  <label for="app_theme" class="col-sm-3 control-label">{tmpl_var name='app_theme_txt'}</label>
  <div class="col-sm-9"><select name="app_theme" id="app_theme" class="form-control">
    {tmpl_var name='app_theme'}
    </select>
  </div>
</div>
<!-- TODO: Limit to activated modules -->
<div class="form-group">
  <label for="startmodule" class="col-sm-3 control-label">{tmpl_var name='startmodule_txt'}</label>
  <div class="col-sm-9"><select name="startmodule" id="startmodule" class="form-control">
    {tmpl_var name='startmodule'}
    </select>
  </div>
</div>
<input type="hidden" name="id" value="{tmpl_var name='id'}">
<div class="clear">
  <div class="right">
    <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="tools/user_settings.php">{tmpl_var name='btn_save_txt'}</button>
    <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="tools/index.php">{tmpl_var name='btn_cancel_txt'}</button>
  </div>
</div>
<script type="text/javascript" src="../js/qrcode.js"></script>
<script type="text/javascript">

// Base32 encoder (RFC 4648, no padding)
function base32Encode(bytes) {
  const alphabet = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ234567';
  let bits = 0;
  let value = 0;
  let output = '';

  for (let byte of bytes) {
	value = (value << 8) | byte;
	bits += 8;

	while (bits >= 5) {
	  output += alphabet[(value >>> (bits - 5)) & 31];
	  bits -= 5;
	}
  }

  if (bits > 0) {
	output += alphabet[(value << (5 - bits)) & 31];
  }

  return output;
}

// Generate a random Base32 secret
function generateTOTPSecret(length = 20) {
  const array = new Uint8Array(length);
  crypto.getRandomValues(array);
  return base32Encode(array);
}

function updateOtpPage() {
	type = jQuery('#otp_type').val();
	if (type == 'totp') {
		if (jQuery('#totp_secret').val() == '(already_set)') {
			jQuery('#reset_totp_button').show();
		} else {
			resetTotpSecret();
		}
	} else {
		jQuery('#totp-form').hide();
		jQuery('#reset_totp_button').hide();
	}
}

function resetTotpSecret() {
	jQuery('#totp_secret').val(generateTOTPSecret());
	draw_new_totp_info();
	jQuery('#totp-form').show();
	jQuery('#totp_verification_code').focus();
}

function draw_new_totp_info() {
	// docs: https://github.com/kazuhikoarase/qrcode-generator/tree/master/js
	var typeNumber = 0;
	var errorCorrectionLevel = 'L';
	var qr = qrcode(typeNumber, errorCorrectionLevel);

	otpauth_url = 'otpauth://totp/' + encodeURIComponent('{tmpl_var name='cpuser'}') + '@' + encodeURIComponent('{tmpl_var name='server_domain'}') + '?secret=' + jQuery('#totp_secret').val() + '&issuer=ISPconfig';
	qr.addData(otpauth_url);
	qr.make();
	document.getElementById('qr_placeHolder').innerHTML = qr.createImgTag(5, 2, 'QR code');
	document.getElementById('url_placeHolder').innerHTML = 'Secret: ' + jQuery('#totp_secret').val() + '<br / >URL: <a href=' + otpauth_url + '">' + otpauth_url + '</a>';
}

updateOtpPage();

</script>
