user = {mysql_server_ispconfig_user}
password = {mysql_server_ispconfig_password}
dbname = {mysql_server_database}
hosts = {mysql_server_ip}
query = SELECT validation_server FROM mail_relay_recipient WHERE active = 'y' AND server_id = {server_id} AND (source = '%s' OR source = CONCAT('@', SUBSTRING_INDEX('%s', '@', -1))) AND validation_server IS NOT NULL AND validation_server != ''
