<tmpl_if name="error">
	<div class="alert alert-danger" role="alert"><tmpl_var name="error"></div>
</tmpl_if>
<h2><tmpl_var name="force_password_change_title"></h2>
<p><tmpl_var name="force_password_change_message"></p>
<form accept-charset="UTF-8" role="form" method="post" action="force_password_change.php">
<fieldset>
	<div class="form-group">
		<label for="new_password"><tmpl_var name="new_password_txt"></label>
		<div class="input-group">
			<input class="form-control" placeholder="{tmpl_var name='new_password_txt'}" name="new_password" id="new_password" type="password" autofocus required autocomplete="off" onkeyup="pass_check(this.value);checkPassMatch('new_password','confirm_password');">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="generatePassword('new_password','confirm_password');">{tmpl_var name='generate_password_txt'}</button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">{tmpl_var name='password_strength_txt'}</label>
		<div class="checkbox">
			<div id="passBar"></div>
			<span id="passText">&nbsp;</span>
		</div>
	</div>
	<div class="form-group">
		<label for="confirm_password"><tmpl_var name="confirm_password_txt"></label>
		<input class="form-control" placeholder="{tmpl_var name='confirm_password_txt'}" name="confirm_password" id="confirm_password" type="password" required autocomplete="off" onkeyup="checkPassMatch('new_password','confirm_password');">
	</div>
	<div class="form-group">
		<div id="confirmpasswordError" style="display:none;" class="confirmpassworderror">{tmpl_var name='password_mismatch_txt'}</div>
		<div id="confirmpasswordOK" style="display:none;" class="confirmpasswordok">{tmpl_var name='password_match_txt'}</div>
	</div>
	<div class="right">
		<input class="btn btn-default formbutton-success" type="submit" value="{tmpl_var name='change_password_button_txt'}">
	</div>

	<input type="hidden" name="_csrf_id" value="{tmpl_var name='_csrf_id'}" />
	<input type="hidden" name="_csrf_key" value="{tmpl_var name='_csrf_key'}" />

</fieldset>
</form>
