            
<div class='page-header'>
	<h1>
		<tmpl_var name="extension_install_heading_txt">
	</h1>
</div>
<p>
	<tmpl_var name="extension_install_desc_txt">
</p>

<tmpl_if name="msg">
    <div class='alert alert-notification'><tmpl_var name="msg"></div>
</tmpl_if>
<tmpl_if name="error">
    <div class='alert alert-danger clear'>
        <div class='alert-label'><strong>
                <tmpl_var name="error_txt">
            </strong></div>
        <div class='alert-content'>
            <ul style="list-style-type:none">
                <tmpl_var name="error">
            </ul>
        </div>
    </div>
</tmpl_if>

<div class="panel" style="padding:20px;">
	<div class="pnl_formsarea">
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">{tmpl_var name='title_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="title" id="title" value="{tmpl_var name='title'}" class="form-control" disabled />
            </div>
        </div>
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="_name" id="_name" value="{tmpl_var name='name'}" class="form-control" disabled />
                <input type="hidden" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
            </div>
        </div>
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="server_id" class="col-sm-3 control-label">{tmpl_var name='server_id_txt'}</label>
            <div class="col-sm-9">
                <select name="server_id" id="server_id" class="form-control">
                    {tmpl_var name='server_id'}
                </select>
            </div>
        </div>
        <!-- -------------------------- -->
        <!--
        <div class="form-group">
            <label for="version" class="col-sm-3 control-label">{tmpl_var name='version_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="version" id="version" value="{tmpl_var name='version'}" class="form-control" />
            </div>
        </div>
        -->
        <!-- -------------------------- -->
        <!--
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
            <div class="col-sm-9">
                {tmpl_var name='active'}
            </div>
        </div>   
        -->   
        <!-- -------------------------- -->
        <input type="hidden" name="action" value="install" />
                
        <div class="clear">
            <div class="right">
                <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/extension_edit.php">{tmpl_var name='btn_install_txt'}</button>
                <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/extension_repo_list.php">{tmpl_var name='btn_cancel_txt'}</button>
            </div>
        </div>
    </div>
</div>
