            
<div class='page-header'>
	<h1>
		<tmpl_var name="extension_edit_heading_txt">: <tmpl_var name="title">
	</h1>
</div>

<tmpl_if name="msg">
    <div class='alert alert-notification'><tmpl_var name="msg"></div>
</tmpl_if>
<tmpl_if name="error">
    <div class='alert alert-danger clear'>
        <div class='alert-label'><strong>
                <tmpl_var name="error_txt">
            </strong></div>
        <div class='alert-content'>
            <ul style="list-style-type:none">
                <tmpl_var name="error">
            </ul>
        </div>
    </div>
</tmpl_if>

<div class="panel" style="padding:20px;">
	<div class="pnl_formsarea">
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="title" class="col-sm-3 control-label">{tmpl_var name='title_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="title" id="title" value="{tmpl_var name='title'}" class="form-control" disabled />
            </div>
        </div>
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="name" class="col-sm-3 control-label">{tmpl_var name='name_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="_name" id="_name" value="{tmpl_var name='name'}" class="form-control" disabled />
                <input type="hidden" name="name" id="name" value="{tmpl_var name='name'}" class="form-control" />
            </div>
        </div>
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="server_id" class="col-sm-3 control-label">{tmpl_var name='server_id_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="server_name" id="server_name" value="{tmpl_var name='server_name'}" class="form-control" disabled />
                <input type="hidden" name="server_id" id="server_id" value="{tmpl_var name='server_id'}" class="form-control" />
            </div>
        </div>
        <!-- -------------------------- -->
        <div class="form-group">
            <label for="version" class="col-sm-3 control-label">{tmpl_var name='version_txt'}</label>
            <div class="col-sm-2">
                <input type="text" name="version" id="version" value="{tmpl_var name='version'}" class="form-control" disabled />
            </div>
            <div class="col-sm-2">
                <tmpl_if name="show_update">
                    <div style="padding-top: 10px;">{tmpl_var name='repo_version_txt'}:</div>
                </tmpl_if>
            </div>
            <div class="col-sm-2">
                <tmpl_if name="show_update">
                    <input type="text" name="repo_version" id="repo_version" value="{tmpl_var name='repo_version'}" class="form-control" disabled />
                </tmpl_if>
            </div>
            <div class="col-sm-3">
                <tmpl_if name="show_update">
                    <button class="btn btn-default formbutton-success formbutton-narrow" type="button" data-load-content="admin/extension_edit.php?name={tmpl_var name='name'}&action=update&server_id={tmpl_var name='server_id'}">{tmpl_var name="update_extension_txt"}</button>
                </tmpl_if>
            </div>
        </div>
        <!-- -------------------------- -->
        <tmpl_if name="repo_license" op='==' value="y">
        <div class="form-group">
            <label for="license" class="col-sm-3 control-label">{tmpl_var name='license_txt'}</label>
            <div class="col-sm-9">
                <input type="text" name="license" id="license" value="{tmpl_var name='license'}" class="form-control" />
            </div>
        </div>
        </tmpl_if>
        <!-- -------------------------- -->
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='active_txt'}</label>
            <div class="col-sm-9">
                <input type="checkbox" name="active" id="active" value="1" {tmpl_if name='active'} checked="checked"{/tmpl_if} />
            </div>
        </div>
        <!-- -------------------------- -->
        <tmpl_if name="free_limits">
            <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='free_limits_txt'}</label>
            <div class="col-sm-9">
                <p style="margin-top: 8px;">{tmpl_var name='free_limits'}</p>
            </div>
        </div>
        </tmpl_if>
        <!-- -------------------------- -->
        <tmpl_if name="postinstall_info">
        <div class="form-group">
            <label class="col-sm-3 control-label">{tmpl_var name='postinstall_info_txt'}</label>
            <div class="col-sm-9">
                <p style="margin-top: 8px;">{tmpl_var name='postinstall_info'}</p>
            </div>
        </div>
        </tmpl_if>
        <!-- -------------------------- -->
        <input type="hidden" name="action" value="edit" />
                
        <div class="clear">
            <div class="right">
                <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="admin/extension_edit.php">{tmpl_var name='btn_save_txt'}</button>
                <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="admin/extension_install_list.php">{tmpl_var name='btn_cancel_txt'}</button>
            </div>
        </div>
    </div>
</div>
