<div class="panel panel">

  <div class="pnl_formsarea">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="domain"><tmpl_var name="add_dom_txt"></label>
        <div class="col-sm-9">
        <input class="form-control" id="domain" maxlength="255" name="domain" size="30" type="text" value="{tmpl_var name='domain'}">
        </div>
   </div>
 
 
   <div class="clear">
    <div class="right">
	    <button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="sites/domain_verification_edit.php">{tmpl_var name='btn_save_txt'}</button>
            <button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="sites/domain_verification_list.php">{tmpl_var name='btn_cancel_txt'}</button>
    </div>


    <input type="hidden" name="id" value="{tmpl_var name='id'}">

    
  </div>

</div>
